/* Special text */
.advert {
  color: #FF8929;
  font-style: italic;
}
.codecommand, .codebox code {
  background-color: #E0E0E0;
  font-family: monospace;
}
.Large {
  font-size: 2rem;
}
.exercise, .exo {
  color: #00BA10;
  font-size: 1.1rem;
}
.math.inline {
    background-color: aliceblue;
}

/* Special backgrounds*/
.blueShaded {
  background-color: #D6E8F5;
  font-family: monospace;
}
.blueShaded pre:not([class]) {
  background-color: #D6E8F5;
}
.redbox {
  background-color: #FF7F7F;
  padding: 2px 5px;
}

/* Document formatting*/
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

h3 {
  font-style: italic;
}

/* Figures */
.figure {
  margin-bottom: 1.5em;
}

/* Custom specific to my bookdown template */
.body-inner {
/*  background-color: #1e73be;*/
    background-color: #f6f6f6;
}
.book .book-body .page-wrapper .page-inner {
    max-width: 1025px;
}
.book .book-body .page-wrapper .page-inner section {
    padding: 5px 3em;
}
.book .book-body .page-wrapper .page-inner section.normal p.caption {
  margin: 0 10%;
  text-align: center;
  font-size: 1.4rem;
}

.page-inner {
        max-width: 1025px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        /* padding: 1em 30px 15px; */
    }

.book .book-body .navigation {
    font-size: 70px;
    color: #ccc;
    text-align: center;
}

.book .book-body .page-wrapper .page-inner section.normal a {
    color: #DE633C;
}

/* thinkr.css
.container-fluid.main-container {
    margin-top: 80px;
}
h1.title {
    margin-top: 80px;
}
.container-fluid.main-container h1.title {
    margin-top: 0px;
}
*/
.logos {
    position: fixed;
    top: 50px;
    width: 100px;
    left: 330px;
    z-index: 1;
}
.logos img {
    margin: 5px auto; /* Modified for gitbook */
    display: block;
    height: 60px;
}
a {
    color: #15b7d6;
}
h1 {
    color: #DE633C;
}
h2 {
    color: #15b7d6;
}

.sidebar h2 {
    color: black;
}

/* Footer with logo */
footer {
    text-align: center;
}
footer img {
    max-height: 40px;
}
