.container-fluid.main-container {
    margin-top: 80px;
}
h1.title {
    margin-top: 80px;
}
.container-fluid.main-container h1.title {
    margin-top: 0px;
}
.logos {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    background: white;
    border-bottom: solid 1px grey;
}
.logos img {
    margin: 5px;
    display: block;
    height: 60px;
}
a {
    color: #15b7d6;
}
h1 {
    color: #DE633C;
}
h2 {
    color: #15b7d6;
}
pre {
    background-color: #f9f9f9;
}

